/*Modificaciones que se harán con CSS, buenas prácticas */
body{
    background-color: greenyellow;
    height: auto;
    width: 100%;
}

.container{
    background-color: #008080;
    height: auto;
    width: 100%;
}

#output{
    background-color: blueviolet, green, blue;
    height: 100%;
    width: 50%;
}

#contenedor-grande{
    background-color: #0000FF;
}

.contenedor-1{
    width: 50%;
    margin-left: 20%;
    background-color: #00FF00;
}

.contenedor-2{
    width:30%;
    margin-left: 60%;
    background-color: #FF0000;
}
